<h1>UserMailer#account_activation</h1>

<p> <%= @user.name %> </p>

<p> Welcome please click link below to activate your account </p>

<%= link_to 'Activate', edit_account_activation_url(@user.activation_token, email: @user.email) %>

