<h1>UserMailer#password_reset</h1>


<p> to reset your password click the link below </p>

<%= link_to 'Reset password', edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p> this link expires in two hours </p>
